body{
  /* background-color: blue; */
  /* font-family:monospace !important; */
  font-family: 'Lora', serif;
}
.mother{
  padding: 1%;
  /* background-color: olive; */
}
.first{
  width:30%;
  margin-left: 5%;
  /* background-color: red; */
  float: left;
}
img{
    height:250px;
  	width:240px;
    /* margin-left: 0%; */
}
.second{
  /* background-color: yellow; */
  width: 30%;
  float: right;
  margin-right: 20%;
}
.third{
  /* background-color: green; */
  margin-top:50%;

  /* margin-left: 10%; */
  /* float:left; */
}
.child-third{
  width:45%;
  float:left;
  margin-left: 2px;
}
p{
  /* font-family:monospace; */
  font-family: 'Lora', serif;
}
.mentor{
  /* margin-top: %; */
  float: left;
}
