

.sub-color-bg{
  background-color:#212121 !important;
  color:#ffffff !important;

}
.login-color-bg{
  background-color: #CC0000 !important;
}
.text-font{
  font-family: 'Lora', serif;
  }
.header-font{
  font-family: 'Courgette', cursive;
  font-size: 15px;
  color:#ffffff !important;
}

.ft-color{
  background-color: #A17917 !important;
  color:white !important;
}

.white{
  color:white !important;
}
.text-font{
  font-family: 'Lora', serif;
  }
  .cinzel{
  font-family: 'Cinzel', serif;
  }
