body{
  background-color: white !important;
  z-index: 0;
}


.photobox{
  /* overflow: hidden; */
  /*padding:80px 0px;*/
}

.photo-single{
  width:100px;
  height:100px;
  margin-right:10px;
  position: relative;
  /* box-shadow: 0 0 10px 1px #000; */
}
.cinzel{
font-family: 'Cinzel', serif;
}

.photo-single img{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  right:0px;
  left: 0px;
  bottom:0px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
}
.photo-single:hover{
  z-index: 100;
}
.photo-single img:hover{
  width: 200%;
  height:200%;
  position: relative;
  z-index: 1000;
  top: -5%;
  left: -5%;
}
.shorder{
  /* height:0% !important; */
  width:40%  !important;
}
.profile{
  height:15% !important;
  width:10%  !important;
}
.loader{
  position: fixed;
  top:50%;
  left:50%;
  z-index: 1000;
}
#diary{
  background: url("img/back.jpg");
  color: white;
}
.div-center{
  margin-left: 15%;
  margin-right: 15%;
}
.dash-box{
  text-align: center;
}
.white{
  color:white !important;
}
.text-font{
  font-family: 'Lora', serif;
  }

.text-style{
  font-family: 'Mogra', cursive;
}
.text-edit{
  font-family: 'Courgette', cursive;
}
.t1{
  font-size: 20px;
}
.t2{
  font-size: 15px;
}
.non-style , .non-style:hover{
  text-decoration: none;
  color:white;
}
.non-fa , .non-fa:hover{
  text-decoration: none;
  color:black;
}
.blocker{
  text-align: center !important;
}

#admin-main{
  background: #263238;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
#ess{
  /*background: #263238;*/
  background: #263;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 0px;
}
.main-color-bg{
  background-color: #006442 !important;
  color:#ffffff !important;
}
.new-btn-green
{
    background-color: #263 !important;
    color:#ffffff !important;
}

.ft-color{
  background-color: #A17917 !important;
  color:white !important;
}
.breadcrumb{
  background: #e0e0e0 ;
  color:#333333;
}

.panel-color{
  background:#263238 !important;
  color: #ffffff !important;
}
.breadcrumb a{
  color: #333333;
}
.admin-bread{
  padding-top:0px !important;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
  .navbar-default {
    background-color:#212121;
    border-color:#212121;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
  }
  .navbar-default .navbar-nav > li > a:hover{
    color:#3F729B;

  }

  .navbar-default .navbar-nav > li > a:focus {
    color: white !important;
    background-color:#2E2E2E!important;
    opacity: 0.7;
  }
  .navbar-default .navbar-nav > .active > a{
    color: white !important;
    background-color: #2E2E2E !important;
    opacity: 0.7;
  }
  .navbar-default .navbar-nav > .active > a:focus {

  }

.btn-custom{
  color:white;
  background-color:#00695c !important;

}

.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: #ec971f;

}
.btn-custom:hover {
  color: #fff;
  background-color: #ec971f;
}

.pad{
  padding: 10px;
}


body{
	background-color:#fafafa ;
  color: black;
}

.page-footer{
  background:#333333;
  color: #ffffff;
  text-align: center;
  padding:30px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.admin-footer{
  color: #ffffff;
  text-align: center;
  padding:30px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.avatar {
  margin-top: 10px;
  width: 58px;
  height: 58px;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
}
.img{
  position: relative;
}
/* .img img{

}
.img:hover{
  z-index: 1000;
  }
  .img img:hover{
  	width: 40%;
  	height:40%;
    border-radius: 24px;
    box-shadow: 0 0 10px 1px white;

  } */
.sider{
  border-radius: 10px;
}
.sub-color-bg{
  background-color:#212121 !important;
  color:#ffffff !important;

}
.admin-nav-color-bg{
  background-color: #8F1D21 !important;
  /* #8B0000 */
  color:#ffffff !important;
}

.header-color-bg{
  background-color: #8F1D21 !important;
  color:#ffffff !important;
}

.approve-color-bg{
  background-color: #26A65B !important;
  color:#ffffff !important;
}

#sidebar{
  left:-250px;
transition: left 0.5s linear;
}
#sidebar.visible{
  left: 0px;
  transition: left 0.5s linear;
}
#sidebtn{
  display:inline-block;
  vertical-align: middle;
  width: 20px;
  height:15px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right:-50px;
}

/*#sidebtn span{
  height:2px;
  background: #111;
  margin-bottom: 5px;
  display:block;

}*/
#body-fade.fade-color{
  z-index: 1000;
  background:rgba(192, 192, 192,0.6);

}
/*#sidebtn span:nth-child(2){
  width: 75%;
}
#sidebtn span:nth-child(3){
  width: 50%;
}*/
#body1{
  left: -15%;
  transition: left 0.5s linear;
}
#body1.space{
left:5%;
transition: left 0.5s linear;

}
@media only screen and (max-width:500px) {
  #sidebar{
    left:0px;
  }

  #sidebtn span{
    height:0px;
    background:white;
  }
  #body1{
    left:0px;
  }
}
@media only screen and (max-width: 600px) {
  #sidebar{
    left:0px;
  }

  #sidebtn span{
    height:0px;
    background:white;
  }
  #body1{
    left:0px;
  }
}
@media screen and (max-width:768px) {
  #sidebar{
    left:0px;
  }

  #sidebtn span{
    height:0px;
    background:white;
  }
  #body1{
    left:0px;
  }
}
@media screen and (min-width:968px) {
  #sidebar{
    left:-250px;
  }

  #sidebtn span{
    height:2px;
    background: #111;
    margin-bottom: 5px;
    display:block;
  }
  #body1{
    left:0px;
  }
}
