.bd-color{
    /* background-color:#1f5400 !important; */
}
body{
  background-image: url('img/lol3.png');
  background-color: rgba(255, 0, 0, 0.5);
}
#search-font{
font-family: 'Cinzel', serif;
}
input, select, textarea{
    color: black !important;
    font-family: 'Cinzel', serif;
}
/*
input::-webkit-input-placeholder {
					color: white !important;
					}

					input:-moz-placeholder {
					color: white !important;
					}

					input::-moz-placeholder {
					color: white !important;
					}

					input:-ms-input-placeholder {
					color: white !important;
			} */




.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    /*color: #636b6f;*/
    color: #ECF0F1;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.control-label{
  color: black !important;
}
